In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('mymoviedb.csv', lineterminator ='\n')

In [3]:
df.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021-12-15,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022-03-01,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022-02-25,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021-11-24,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021-12-22,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9827 entries, 0 to 9826
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9827 non-null   object
 1   Title              9827 non-null   object
 2   Overview           9827 non-null   object
 3   Popularity         9827 non-null   float64
 4   Vote_Count         9827 non-null   int64
 5   Vote_Average       9827 non-null   float64
 6   Original_Language  9827 non-null   object
 7   Genre              9827 non-null   object
 8   Poster_Url         9827 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 691.1+ KB

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.describe()

        Popularity    Vote_Count  Vote_Average
count  9827.000000   9827.000000   9827.000000
mean     40.326088   1392.805536      6.439534
std     108.873998   2611.206907      1.129759
min      13.354000      0.000000      0.000000
25%      16.128500    146.000000      5.900000
50%      21.199000    444.000000      6.500000
75%      35.191500   1376.000000      7.100000
max    5083.954000  31077.000000     10.000000

*Exploration Summary 
1. We have a dataframe consisting of 9827 rows and 9 columns.
2. Our dataset looks a bit tidy with no Nans or duplicated values 
3. Release_Date Column needs to be casted into date time and to extract only the year value 
4. Overview, Original_Language and Poster-URL wouldnt be so useful during analysis, so we'll drop them
5. There is noticable outliers in Popularity Column 
6. Vote_Average better be categorised for proper Analysis 
7. Genre column has comma seperated values and white spaces that needs to be handled and casted into category.Exploration Summary

In [7]:
df['Release_Date'] = pd.to_datetime(df['Release_Date'])

In [8]:
df.head(2)

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021-12-15,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022-03-01,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...

In [9]:
df['Release_Date']=df['Release_Date'].dt.year

In [10]:
df.head(2)

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...

In [11]:
df.drop(['Overview','Original_Language','Poster_Url'], axis =1, inplace=True)

In [12]:
df.columns

Index(['Release_Date', 'Title', 'Popularity', 'Vote_Count', 'Vote_Average',
       'Genre'],
      dtype='object')

In [13]:
df.head(10).to_csv('First_10_rows.csv', index=False)

In [14]:
bins = [0, 4, 6, 7.5, 10]
labels = ["Not_popular", "Below_Average", "Average", "Famous"]

df["Vote_Average"] = pd.cut(df["Vote_Average"], bins=bins, labels=labels, right=False)

In [15]:
df.head(2)

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,Famous,"Action, Adventure, Science Fiction"
1,2022,The Batman,3827.658,1151,Famous,"Crime, Mystery, Thriller"

In [16]:
df.head(5)

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,Famous,"Action, Adventure, Science Fiction"
1,2022,The Batman,3827.658,1151,Famous,"Crime, Mystery, Thriller"
2,2022,No Exit,2618.087,122,Average,Thriller
3,2021,Encanto,2402.201,5076,Famous,"Animation, Comedy, Family, Fantasy"
4,2021,The King's Man,1895.511,1793,Average,"Action, Adventure, Thriller, War"

In [18]:
df.head(2)

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,Famous,"Action, Adventure, Science Fiction"
1,2022,The Batman,3827.658,1151,Famous,"Crime, Mystery, Thriller"

In [19]:
df['Vote_Average'].value_counts()

Vote_Average
Average          5818
Below_Average    2388
Famous           1441
Not_popular       179
Name: count, dtype: int64

In [20]:
df.dropna(inplace=True)

In [21]:
df.isna().sum()

Release_Date    0
Title           0
Popularity      0
Vote_Count      0
Vote_Average    0
Genre           0
dtype: int64

In [22]:
# Split into list
df["Genre"] = df["Genre"].str.split(", ")

# Explode into multiple rows
df = df.explode("Genre")

In [23]:
df.head(5)

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,Famous,Action
0,2021,Spider-Man: No Way Home,5083.954,8940,Famous,Adventure
0,2021,Spider-Man: No Way Home,5083.954,8940,Famous,Science Fiction
1,2022,The Batman,3827.658,1151,Famous,Crime
1,2022,The Batman,3827.658,1151,Famous,Mystery

In [24]:
df = df.reset_index(drop=True) #Reset the index

In [25]:
df.head(5)

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,Famous,Action
1,2021,Spider-Man: No Way Home,5083.954,8940,Famous,Adventure
2,2021,Spider-Man: No Way Home,5083.954,8940,Famous,Science Fiction
3,2022,The Batman,3827.658,1151,Famous,Crime
4,2022,The Batman,3827.658,1151,Famous,Mystery

In [26]:
#casting column into category 
df['Genre'] = df['Genre'].astype('category')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25791 entries, 0 to 25790
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Release_Date  25791 non-null  int32
 1   Title         25791 non-null  object
 2   Popularity    25791 non-null  float64
 3   Vote_Count    25791 non-null  int64
 4   Vote_Average  25791 non-null  category
 5   Genre         25791 non-null  category
dtypes: category(2), float64(1), int32(1), int64(1), object(1)
memory usage: 756.6+ KB

In [28]:
df.nunique()

Release_Date     102
Title           9512
Popularity      8160
Vote_Count      3266
Vote_Average       4
Genre             19
dtype: int64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25791 entries, 0 to 25790
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Release_Date  25791 non-null  int32
 1   Title         25791 non-null  object
 2   Popularity    25791 non-null  float64
 3   Vote_Count    25791 non-null  int64
 4   Vote_Average  25791 non-null  category
 5   Genre         25791 non-null  category
dtypes: category(2), float64(1), int32(1), int64(1), object(1)
memory usage: 756.6+ KB

In [30]:
df.to_csv('cleaned_mymoviedb.csv', index=False)

In [31]:
year_counts = df["Release_Date"].value_counts()

print("Movies per year:")
print(year_counts)

# get the year(s) with highest number of movies
max_count = year_counts.max()
top_years = year_counts[year_counts == max_count]

print("\nYear(s) with highest number of movies:")
print(top_years)

Movies per year:
Release_Date
2021    1638
2018    1387
2017    1365
2019    1272
2016    1212
        ...
1920       4
1902       3
1925       2
1929       2
1930       2
Name: count, Length: 102, dtype: int64

Year(s) with highest number of movies:
Release_Date
2021    1638
Name: count, dtype: int64

QUESTIONS

1.What is the most frequent genre of movies released on Netflix?
Ans - Drama

In [34]:
genre_counts = df['Genre'].value_counts()
print (genre_counts)

Genre
Drama              3743
Comedy             3031
Action             2685
Thriller           2488
Adventure          1853
Romance            1476
Horror             1470
Animation          1439
Family             1414
Fantasy            1308
Science Fiction    1273
Crime              1242
Mystery             773
History             427
War                 308
Music               295
Documentary         215
TV Movie            214
Western             137
Name: count, dtype: int64

2.Which has highest votes in vote avg column?
Ans - Average

In [47]:
top_category = df['Vote_Average'].value_counts().index[0]
print(f"Category with most movies: {top_category}")

Category with most movies: Average

3. What movie got the highest popularity? what's its genre?
Ans - Spider Man No Way Home

In [41]:
df[df['Popularity']==df['Popularity'].max()]

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,Famous,Action
1,2021,Spider-Man: No Way Home,5083.954,8940,Famous,Adventure
2,2021,Spider-Man: No Way Home,5083.954,8940,Famous,Science Fiction

4. What movie got the lowest popularity? what's its genre?
Ans - The United States vs. Billie Holiday

In [43]:
df[df['Popularity']==df['Popularity'].min()]

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
25785,2021,The United States vs. Billie Holiday,13.354,152,Average,Music
25786,2021,The United States vs. Billie Holiday,13.354,152,Average,Drama
25787,2021,The United States vs. Billie Holiday,13.354,152,Average,History
25788,1984,Threads,13.354,186,Famous,War
25789,1984,Threads,13.354,186,Famous,Drama
25790,1984,Threads,13.354,186,Famous,Science Fiction

5.Which year has the most filmmed movies?
Ans- 2021

In [46]:
top_year = df['Release_Date'].value_counts().index[0]
print(f"Year with most movies: {top_year}")

Year with most movies: 2021